/* --- IMPORTS --- */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Titillium+Web:wght@200;300;400;600&display=swap');


/* MAKE EVERYTHING BORDER-BOX BY DEFAULT */

/* --- WHOLE DOC --- */

/* border-box box sizing for the whole document - CREDIT: https://css-tricks.com/box-sizing/ 'Universal Box Sizing with Inheritance' */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

/* body */
body{
    font-family: 'dosis', sans-serif ;
}

p{
    margin:0;
    padding:1%;
}

/* --- FONTS --- */

/* heading fonts */


/* --- DIV AREAS STYLING --- */

/* container for fretboard diagram (html table) */
.fretboard-area{
    width:100%;
    height:30vh;

    padding:1%;

}

/* centralising and evenly spacing the thre-divs */
.divs-holder{
    display:flex;
    justify-content: space-evenly;
}

/* the user-options, multi-choice and counter divs */
.three-divs{
    border: 2px solid black;
    border-radius:4px;

    padding: 2%;
    margin:2%;

    /* width: 30%; */
    /* height: 40vh; */

    display:flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
}

/* container for user options section (float left) */
.user-options-area{
    width:25%;
}

.user-options-area h2{
    margin:0;
    padding:1%;
}

/* user options area input div - centralise the content (use flexbox?) */
.user-options-area #settings{
    line-height:1.7em;
    padding-top:3%;

    display:flex;
    flex-direction: column;
    text-align: center;
}

/* user-options settings dropdown boxes */
#total-questions, #total-multi-choices{
    width:30%;
}

/* container for multi choice answers (center) */
.multi-choice-area{
    width:50%;
}

/* container for question and right/wrong counters (float right) */
.counter-area{
    width:25%;

    padding-top:5%;
    padding-bottom:5%;
}


/* --- FRETBOARD STYLING --- */

/* fretboard diagram table */
.fretboard-area table{
    width:100%;

    /* removing space between table cells */
    border-collapse:collapse;
}

.fretboard-area td{
    border-right: 2px solid grey; 
    border-bottom: 1px solid grey;

    /* could try creating 'invisible' content and striking it thru */

    position:relative;
    top:0.5rem;

    text-align: center;
    width:8%;
}

/* fixing the zeroth fret size */
/* only needs to adjust if font changes */
table .zeroth-fret{
    width: 1%;
}

/* removing the right border from the high e string */
.no-border-right td{
    border-right:none;
}

/* paragraphs for the numbers tracking the Q no. and right/wrong answers */
.counters{
    
}


/* --- ANSWER AREA STYLING --- */

/* class added to notes being being highlighted */
.highlight-note{
    background-color: lightblue;
    border-radius: 50%;
}

/* using tr tag first to ensure the open string notes are not hidden */
tr .zeroth-fret{
    color: black;
}

/* making all the td elements transparent by default */
td{
    color: rgba(0,0,0,0);
}


/* ---  --- */

/* all buttons */
.btn{

}

/* the datalist - number of multi-choice dropdown */
#number-of-multi-choice{

}

