/* --- IMPORTS --- */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


/* MAKE EVERYTHING BORDER-BOX BY DEFAULT */

/* --- WHOLE DOC --- */

/* border-box box sizing for the whole document - CREDIT: https://css-tricks.com/box-sizing/ 'Universal Box Sizing with Inheritance' */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;

    padding: 0;
    margin:0;
}


/* body */
body{
    font-family: 'dosis', sans-serif;
}

/* all paragraphs to be centralised */
p{
    text-align: center;
}

/* --- FONTS --- */

/* fonts for all headings */
h1, h2, h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight:700;

    text-align:center;

    letter-spacing: 2px;
}

/* --- HEADER --- */
header{

    font-size: larger;

    background-color:rgba(47, 97, 104, 1);
    color:rgba(255, 255, 255, 1);

    height: 8vh;
    margin-bottom: 1vh;

    display:flex;
    justify-content: center;
    align-items: center;
}


/* --- DIV AREAS STYLING --- */

/* container for fretboard diagram (html table) */
.fretboard-area{
    width:100%;
    height:20vh;

    padding:1%;
    padding-bottom:0;

    display:flex;
    justify-content: center;
}

/* centralising and evenly spacing the three-sections */
.sections-holder{

    height:70vh;

    display:flex;
    justify-content: space-evenly;
}

/* the user-options, multi-choice and counter sections */
.three-sections{ 

    background-color:rgba(47, 97, 104, 1);

    /* background-color: rgba(112, 136, 148, 1); */
    color: rgba(255, 255, 255, 1);

    /* border: 2px solid rgba(0, 0, 0, 0); */
    border-radius:4px;

    padding: 1% 2% 2% 2%;
    margin:2vh 1vw;

    display:flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
}

/* container for user options section */
#user-options-area{
    width:25%;
}

/* headings for each of the areas */
h2{
    margin:0;
    padding:1%;
}

/* user options area input div - centralise the content (use flexbox?) */
#user-options-area #settings{
    line-height:1.7em;
    padding-top:3%;
}

/* user-options settings dropdown boxes */
#total-questions, #total-multi-choices{
    width:30%;
}

/* container for multi choice answers (center) */
#multi-choice-area{
    width:50%;
}

#multi-choice-area h3{
    color:#A9DCE4;
    margin: 10px 0 5px 0;
    padding: 0;
}

#multi-choice-area ol{
    margin: 0;
    margin-bottom: 5%;
    padding-left: 20px;
    line-height: 200%;
}

#multi-choice-area p{
    line-height: 200%;
    margin-bottom: 5%;

}

/* container for question and right/wrong counters */
#counter-area{
    width:25%;
}


/* --- FRETBOARD STYLING --- */

/* fretboard diagram table */
.fretboard-area table{

    /* table-layout: fixed; */

    color:rgba(47, 97, 104, 1);
    border-radius: 4px;

    width:100%;
    
    /* removing space between table cells */
    border-collapse:collapse;
}

.fretboard-area td{
    border-right: 2px solid rgba(47, 97, 104, 1); 
    border-bottom: 1px solid rgba(47, 97, 104, 0.8);

    position:relative;
    top:0.5rem;

    text-align: center;
    /* DO YOU NEED???? */
    width:8%; 
}

/* DOES IT WORK???? fixing the zeroth fret size */
/* only needs to adjust if font changes */
.fretboard-area .zeroth-fret{
    width: 1%;
}

/* removing the right border from the high e string */
.no-border-right td{
    border-right:none;
}

/* paragraphs for the numbers tracking the Q no. and right/wrong answers */
.counters{

    background-color: #A9DCE4;
    color:rgba(47, 97, 104, 1);
    font-weight:600;

    border: 2px solid white;
    border-radius:4px;

    margin: 20% 10% 10% 10%;
    padding: 5%;
    
}


/* --- STYLING USED BY ANSWER AREA JS --- */

/* class added to notes being being highlighted */
.highlight-note{
    background-color: #A9DCE4;
    border-radius: 50%;
    visibility:visible;
}

/* using tr tag first to ensure the open string notes are not hidden */
tr .zeroth-fret{
    
    color:rgba(47, 97, 104, 1);
    visibility:visible;

    font-weight:bold;
    font-size: large;
}

/* making all the td elements transparent by default */
td{
    visibility:hidden;
}


/* ---  --- */

/* all buttons */
.btn{
    color: rgba(47, 97, 104, 1);
    background-color: rgba(255, 255, 255, 1);

    text-transform: uppercase;
    font-family:inherit;
    font-size:medium;
    font-weight: 600;

    padding: 10px;
    border-radius:4px;
    border: 1px solid rgba(47, 97, 104, 1);

}

/* button hover effect */
.btn:hover{
    transition-duration: 0.2s;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #A9DCE4;
}

/* the select elements */
select{
    color:rgba(47, 97, 104, 1);
    font-family:inherit;
    font-weight:bold;
    border-radius:4px;

}

.right-highlight{
    color:lightgreen;
    font-weight: 900;
    border-radius: 4px;
}

.wrong-highlight{
    color:rgb(238, 87, 87);
    font-weight: 900;
    border-radius: 4px;
}


.section-content{
    color: #A9DCE4; 
    font-weight:500;

    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

    padding: 2%;
}



/* --- MEDIA QUERIES --- */

@media (max-width: 1300px){

    .fretboard-area {
        height:auto;
    }

    /* the user-options, multi-choice and counter sections */
    .three-sections{ 
        margin:0.5vh 0.5vw;
    }

    /* container for user options section */
    #user-options-area{
        width:25%;
        /* font-size: normal; */
    }

    /* centralising and evenly spacing the three-sections */
    .sections-holder{

        height:65vh;
        font-size: 0.9rem;
    
        /* display:flex; */
        /* justify-content: space-evenly; */
    }

    /* container for fretboard diagram (html table) */
    .fretboard-area{
        /* width:100%; */
        height:25vh;
    
        /* padding:1%; */
    }

    /* all buttons */
    .btn{
        /* font-size:medium; */
        /* font-weight: 600; */
    
        padding: 5px;
    }

    /* ol and p in multi-choice area */
    #multi-choice-area ol{
        margin-bottom: 2%;
        /* padding-left: 20px; */
        line-height: 150%;
    }
    
    #multi-choice-area p{
        line-height: 150%;
        margin-bottom: 2%;
    
    }

}

@media (max-width: 830px){

    /* header */
    header{
        font-size: large;
        height:auto;
    }

    /* arraning the scetions to be stacked */
    .sections-holder{

        /* height:70vh; */
        height:auto;
    
        display:flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    /* adjusting the area's widths */
    .three-sections{ 
        height: auto;
    }

    #multi-choice-area{
        margin: 1% 1% 0 1%;
        width:auto;
        min-height: 30vh;
        order:1;
    }

    #counter-area{
        margin: 1% 1% 0 1%;
        /* width:100%; */
        width:auto;
        height: auto;
        order:2;
    }

    #user-options-area{
        margin: 1%;
        width:auto;
        height: auto;
        order:3;
        /* font-size: normal; */

        /* flex-direction: column; */
    }

    #counter-area .section-content{
        /* width: 100%; */
        /* display:flex; */
        flex-direction: row;
        /* flex-wrap:wrap; */
        /* justify-content:space-evenly; */
        /* align-items: center; */

        /* padding: 2%; */
    }

    .counters{
        margin: 2% 0 0 0;
    }

    #total-questions, #total-multi-choices{
        display:inline-block;
        width:40px;;
    }

    .btn {
        font-size:small;

        padding:2px;

    }

    /* making apply and reset btns next to eachother */
    #apply-btn, #reset-btn{
        display:inline;
        width:auto;
    }

}

@media (max-width: 500px){

    /* fixing the table cells width */
    .fretboard-area table{
        table-layout: fixed;
    }

    h3{
        font-size: medium;
    }
    
}

@media (max-width: 400px){

    /* header */
    header{
        font-size: small;
    }

    .fretboard-area {
        height:auto;
        margin-bottom: 1vh;
    }
    
}