/* --- IMPORTS --- */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

/* --- WHOLE DOC --- */

/* border-box box sizing for the whole document - CREDIT: https://css-tricks.com/box-sizing/ 'Universal Box Sizing with Inheritance' */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;

    padding: 0;
    margin:0;
}

/* setting the font for the body */
body{
    font-family: 'dosis', sans-serif;
}

/* all paragraphs to be centralised */
p{
    text-align: center;
}

/* --- FONTS --- */

/* fonts for all headings */
h1, h2, h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight:700;
    text-align:center;
    letter-spacing: 2px;
}

/* --- HEADER AND FRETBOARD --- */
header{
    background-color:rgba(47, 97, 104, 1);
    color:rgba(255, 255, 255, 1);
    font-size: larger;

    height: 8vh;
    margin-bottom: 1vh;

    display:flex;
    justify-content: center;
    align-items: center;
}

/* container for fretboard diagram (html table) */
.fretboard-area{
    width:100%;
    height:20vh;

    padding:1%;
    padding-bottom:0;

    display:flex;
    justify-content: center;
}

/* fretboard diagram table */
.fretboard-area table{
    color:rgba(47, 97, 104, 1);
    border-radius: 4px;
    /* removing space between table cells */
    border-collapse:collapse;
    width:100%;
}

/* fretboard table data elements */
.fretboard-area td{
    border-right: 2px solid rgba(47, 97, 104, 1); 
    border-bottom: 1px solid rgba(47, 97, 104, 0.8);

    position:relative;
    top:0.5rem;

    text-align: center;
    width:8%; 
}

/* fixing smaler width for zeroth fret */
.fretboard-area .zeroth-fret{
    width: 1%;
}

/* removing the right border from the high e string */
.no-border-right td{
    border-right:none;
}

/* --- MAIN SECTIONS STYLING --- */

/* centralising and evenly spacing the three-sections */
.sections-holder{
    height:70vh;
    display:flex;
    justify-content: space-evenly;
}

/* styles applied to the three game sections */
.three-sections{ 
    background-color:rgba(47, 97, 104, 1);
    color: rgba(255, 255, 255, 1);
    border-radius:4px;

    padding: 1% 2% 2% 2%;
    margin:2vh 1vw;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* headings for each of the game sections */
h2{
    margin:0;
    padding:1%;
}

/* setting game settings width */
#game-settings{
    width:25%;
}

/* breathing space for the game settings content */
#game-settings {
    line-height:1.7em;
    padding-top:3%;
}

/* the select elements */
select{
    color:rgba(47, 97, 104, 1);
    font-family:inherit;
    font-weight:bold;
    border-radius:4px;
}

/* game settings dropdowns width */
#total-questions, #total-multi-choices{
    width:30%;
}

/* setting game play width */
#game-play{
    width:50%;
}

/* game play headings */
#game-play h3{
    color:#A9DCE4;
    margin: 10px 0 5px 0;
    padding: 0;
}

/* game play list */
#game-play ol{
    margin: 0;
    margin-bottom: 5%;
    padding-left: 20px;
    line-height: 200%;
}

/* game play paragraphs */
#game-play p{
    line-height: 200%;
    margin-bottom: 5%;
}

/* setting game progress width */
#game-progress{
    width:25%;
}

/* paragraphs for the counters in the game progress section */
.counters{
    color:rgba(47, 97, 104, 1);
    background-color: #A9DCE4;

    font-weight:600;

    border: 2px solid white;
    border-radius:4px;

    margin: 20% 10% 10% 10%;
    padding: 5%;
}

/* game settings and game progress section content */
.section-content{
    color: #A9DCE4; 
    font-weight:500;

    width: 100%;
    padding: 2%;

    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

/* class added to notes being being highlighted */
.highlight-note{
    background-color: #A9DCE4;
    border-radius: 50%;
    visibility:visible;
}

/* using tr tag first to ensure the open string notes are not hidden */
tr .zeroth-fret{
    color:rgba(47, 97, 104, 1);
    font-weight:bold;
    font-size: large;
    visibility:visible;
}

/* making all the td elements transparent by default */
td{
    visibility:hidden;
}

/* --- BUTTONS --- */

/* all buttons */
.btn{
    color: rgba(47, 97, 104, 1);
    background-color: rgba(255, 255, 255, 1);

    text-transform: uppercase;
    font-family:inherit;
    font-size:medium;
    font-weight: 600;

    padding: 10px;
    border-radius:4px;
    border: 1px solid rgba(47, 97, 104, 1);
}

/* button hover effect */
.btn:hover{
    transition-duration: 0.2s;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #A9DCE4;
}

/* --- RIGHT AND WRONG HIGHLIGHTS --- */

/* right note highlight */
.right-highlight{
    color:lightgreen;
    font-weight: 900;
    border-radius: 4px;
}

/* wrong note highlight */
.wrong-highlight{
    color:rgb(238, 87, 87);
    font-weight: 900;
    border-radius: 4px;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 1300px){

    /* setting the fretboard height to prevent game sections over-lapping */
    .fretboard-area{
        height:25vh;
    }

    /* reducing the margins of the game sections */
    .three-sections{ 
        margin:0.5vh 0.5vw;
    }

    /* reducing the three-sections font-size and height*/
    .sections-holder{
        height:65vh;
        font-size: 0.9rem;
    }

    /* reducing padding to all buttons */
    .btn{
        padding: 5px;
    }

    /* reducing line-height and increasing bottom margin for ol and p in the game play section */
    #game-play ol, #game-play p{
        margin-bottom: 2%;
        line-height: 150%;
    }
}

@media (max-width: 830px){

    /* decreasing font-size and allowing height to be auto */
    header{
        font-size: large;
        height:auto;
    }

    /* arranging the sections to be stacked */
    .sections-holder{
        height:auto;
    
        display:flex;
        flex-direction: column;
    }

    /* adjusting the sections's height */
    .three-sections{ 
        height: auto;
    }

    /* adjusting the section's margin, height, width and setting their order */
    #game-play{
        margin: 1% 1% 0 1%;
        width:auto;
        min-height: 30vh;
        order:1;
    }
    #game-progress{
        margin: 1% 1% 0 1%;
        width:auto;
        height: auto;
        order:2;
    }
    #game-settings{
        margin: 1%;
        width:auto;
        height: auto;
        order:3;
    }

    /* aligning the game progress counters horizontally */
    #game-progress .section-content{
        flex-direction: row;
    }

    /* adjusting the counters to only have top margin */
    .counters{
        margin: 2% 0 0 0;
    }

    /* setting the display and size of the dropdown settings */
    #total-questions, #total-multi-choices{
        display:inline-block;
        width:40px;;
    }

    /* further reducing the button padding and font-size */
    .btn {
        font-size:small;
        padding:2px;
    }
}

@media (max-width: 500px){

    /* fixing the table cells width once they get to a certain size */
    .fretboard-area table{
        table-layout: fixed;
    }

    /* reducing the h3 heading font-size */
    h3{
        font-size: medium;
    }
}

@media (max-width: 400px){

    /* reducing header font-size*/
    header{
        font-size: small;
    }

    .fretboard-area {
        height:auto;
        margin-bottom: 1vh;
    }
}